* {
    --colorBack: rgb(0, 0, 0);
    --colorWhite: #ececeb;
    --colorOrange: #e2a82f;
    --colorGrey: #8b8986;
    --colorDarkerGrey: #2d3439;

    --python: #00bf63;
    --cplusplus: #0cc0df;
    --javascript: #ffde59;

    --spacing: min(3vh, 3vw);
    
    --darkshadow: rgb(180, 180, 180);
    --softshadow: rgb(160, 160, 160);
    --highlight: rgb(240, 240, 240);
}

@font-face {
    font-family: audioWide;
    src: url('Audiowide-Regular.ttf');
}

figure { margin: 0px; }
button { outline: none; }
a { text-decoration: none; }

.depth {
    box-shadow: 0px 2px 2px var(--darkshadow);
    box-shadow: 0px 4px 6px var(--softshadow);
}

body {
    margin: 0px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    
    background-color: var(--colorBack);
    color: var(--colorWhite);
    font-family: audioWide;
    cursor: default;

    display: flex;
    flex-direction: column;
}

header {
    --headerHeight: 10vh;

    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: var(--colorBack);
    height: var(--headerHeight);
    padding: var(--spacing);
    padding-top: 0px;
    padding-bottom: 0px;

    display: flex;
    align-items: center;
}

header figure {
    height: var(--headerHeight);
    aspect-ratio: 1/1;
}

header figure img {
    height: var(--headerHeight);
    object-fit: cover;
}

#header_buttons {
    margin-left: auto;
    margin-right: var(--spacing);

    display: flex;
    align-items: center;
    gap: calc(2 * var(--spacing));
}

#header_buttons div { padding: 10px; }

.text_button { transition: 0.5s; }
.text_button:hover {
    cursor: pointer;
    color: var(--colorDarkerGrey);
    background-color: var(--colorGrey);
    border-radius: 10px;
}

main section {
    padding: var(--spacing);
}