main {
    flex: 1;
    display: flex;
    width: 100%;
}

section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

section h1 {
    margin: 0px;
    font-size: calc(var(--spacing) * 2);
}

span {
    position: absolute;
    transform: translate(calc(191px / 2 - 50%), calc(-10px - 100%));
    color: var(--colorGrey);
    pointer-events: none;
    text-align: center;
    transition: 1s;
}

input {
    display: block;
    padding: 10px;
    background-color: var(--colorDarkerGrey);
    
    text-align: center;
    color: var(--colorWhite);
    
    border-radius: 10px;
    border: 1px solid var(--colorBack);
    outline: none;
    
    transition: 1s;
}

input:focus + span, input:not(:placeholder-shown) + span {
    transform: translate(calc(191px / 2 - 50%), 10px);
    color: var(--colorWhite);
}

input:focus {
    border: 1px solid var(--colorDarkerGrey);
    box-shadow: 0px 2px 2px var(--darkshadow);
    box-shadow: 0px 4px 6px var(--softshadow);
}

main figure {
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%), url('../images/micheal.jpg');
    background-position: left bottom;
    background-size: cover;
}

#glitch_container {
    position: relative;
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: var(--spacing);
    overflow: hidden;
}


#glitch_content { 
    width: min-content;
}

#glitch_content h1 {
    width: min-content;
}

#glitch_text {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 120%;
    width: 120%;
    font-family: monospace;
    
    cursor: default;

    /* yes i copy pasted */
  color: transparent;
  background-image: radial-gradient(
    circle 250px at var(--x, 50%) var(--y, 50%), 
    rgba(46, 137, 255, 0.6) 0%, 
    rgba(21, 230, 200, 0.5) 40%, 
    rgba(255, 255, 255, 0.2) 70%, 
    transparent 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}