main {
    flex: 1;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;

}

section {
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    margin: 0px;
    font-size: calc(var(--spacing) * 2);
}

span {
    position: absolute;
    transform: translate(calc(191px / 2 - 50%), calc(-10px - 100%));
    color: var(--colorGrey);
    pointer-events: none;
    text-align: center;
    transition: 1s;
}

input {
    display: block;
    padding: 10px;
    background-color: var(--colorDarkerGrey);
    
    text-align: center;
    color: var(--colorWhite);
    
    border-radius: 10px;
    border: 1px solid var(--colorBack);
    outline: none;
    
    transition: 1s;
}

input:focus + span, input:not(:placeholder-shown) + span {
    transform: translate(calc(191px / 2 - 50%), 10px);
    color: var(--colorWhite);
}

input:focus {
    border: 1px solid var(--colorDarkerGrey);
    box-shadow: 0px 2px 2px var(--darkshadow);
    box-shadow: 0px 4px 6px var(--softshadow);
}

main figure {
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%), url('../images/micheal.jpg');
    background-position: left bottom;
    background-size: cover;
}

#glitch_container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: visible;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
}


#glitch_content {
    width: min-content;
}

#glitch_content h1 {
    width: min-content;
    margin-bottom: 1rem;
}

#glitch_text {
    position: fixed;
    top: -5px;
    left: -5px;
    height: 120%;
    width: 120%;
    font-family: monospace;
    
    cursor: default;

    /* yes i copy pasted */
  color: transparent;
  background-image: radial-gradient(
    circle var(--size) at var(--x, 50%) var(--y, 50%), 
    rgba(46, 137, 255, 0.6) 0%, 
    rgba(21, 230, 200, 0.5) 40%, 
    rgba(255, 255, 255, 0.2) 70%, 
    transparent 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
    pointer-events: none;
}

#back_h1 {
    position: fixed;
    z-index: 0;
    color: var(--colorDarkerGrey);
    left: 10vw;
    top: 0px;
    font-size: min(50vh, 40vw);
    opacity: 0;
    transition: opacity 1s;
}

@media only screen and (max-width: 600px) {
    #back_h1 {
        transform: rotate(90deg);
    }
}