main {
    flex: 1;
    display: flex;
}

section {
    width: min(60vw, 90vh);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

section h1 {
    margin: 0px;
    font-size: calc(var(--spacing) * 2);
}

span {
    position: absolute;
    transform: translate(calc(191px / 2 - 50%), calc(-10px - 100%));
    color: var(--colorGrey);
    pointer-events: none;
    text-align: center;
    transition: 1s;
}

input {
    display: block;
    padding: 10px;
    background-color: var(--colorDarkerGrey);
    
    text-align: center;
    color: var(--colorWhite);
    
    border-radius: 10px;
    border: 1px solid var(--colorBack);
    outline: none;
    
    transition: 1s;
}

input:focus + span, input:not(:placeholder-shown) + span {
    transform: translate(calc(191px / 2 - 50%), 10px);
    color: var(--colorWhite);
}

input:focus {
    border: 1px solid var(--colorDarkerGrey);
    box-shadow: 0px 2px 2px var(--darkshadow);
    box-shadow: 0px 4px 6px var(--softshadow);
}

main figure {
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%), url('../images/micheal.jpg');
    background-position: left bottom;
    background-size: cover;
}