section {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
}

section h1 { margin: 0; }
section h2 { margin: 0; }

#figure_container {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    overflow: hidden;

    display: flex;
    align-items: stretch;
}

#figure_container figure {
    flex: 1;
    margin: 0px;
    overflow: hidden;
}

#figure_container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: contrast(200%) brightness(0.5) grayscale(0.5);
}

#figure_container figure:nth-child(1) { clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%); }
#figure_container figure:nth-child(2) { clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%); }
#figure_container figure:nth-child(3) { clip-path: polygon(2% 0%, 100% 0%, 100% 100%, 0% 100%); }

#title_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 0px 2px 45px var(--darkshadow);
    text-shadow: 0px 4px 50px var(--softshadow);
}

#title { font-size: min(15vh, 15vw); }
#title_section h2 { font-size: min(5vh, 5vw);}
#scroll_title { margin-top: 20vh; }