section {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
}

section h1 { margin: 0; }
section h2 { margin: 0; }

#figure_container {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    overflow: hidden;

    display: flex;
    align-items: stretch;
}

#figure_container figure {
    flex: 1;
    margin: 0px;
    overflow: hidden;
}

#figure_container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: contrast(200%) brightness(0.5) grayscale(0.5);
}

#figure_container figure:nth-child(1) { clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%); }
#figure_container figure:nth-child(2) { clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%); }
#figure_container figure:nth-child(3) { clip-path: polygon(2% 0%, 100% 0%, 100% 100%, 0% 100%); }

#title_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 0px 2px 45px var(--darkshadow);
    text-shadow: 0px 4px 50px var(--softshadow);
}

#title { font-size: min(15vh, 15vw); }
#title_section h2 { font-size: min(5vh, 5vw);}
#scroll_title { margin-top: 20vh; }


#gallery_section {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

#gallery_dots {
    display: flex;
    gap: 1rem;
}

.dot {
    --size: max(10px, min(5vw, 5vh));

    height: var(--size);
    aspect-ratio: 1/1;
    border-radius: 100%;
    
    background-color: var(--colorGrey);
    background-image: url(images/welcome/dot.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px;
}

#gallery_container {
    width: 100%;
}

#gallery_wrapper {
    display: flex;
    overflow-x: scroll;
    transition: 1s;
    gap: 20vw;
    max-width: none;
    padding-right: 20vw;
}

#gallery_container figure {
    position: relative;
    left: 10vw;
}

#gallery_container img {
    width: 80vw;
    object-fit: cover;
}

#gallery_container figcaption {
    display: flex;
    align-items: center;
}

.project_description {
    flex: 1;
}

.contributors {
    font-size: min(5vh, 5vw);
    text-decoration: underline;
    cursor: pointer;
}

.contributors:hover {
    text-decoration: none;
    font-size: min(4vh, 4vw);
    padding: 0px min(5vw, 5vh);
}

#language_section {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
} 

#programming_container {
    height: max(5vh, 5vw);

    display: flex;
    align-items: end;
    gap: 1rem;
}

.programming_square {
    height: 100%;
    aspect-ratio: 1/1;
    transform: translateY(0px);
}

#python_square { background-color: var(--python);}
#cplusplus_square { background-color: var(--cplusplus);}
#javascript_square { background-color: var(--javascript);}

#language_description_container {
    margin-top: 1rem;
    overflow-x: scroll;
    display: flex;
    width: 100%;
}

#language_description_container article {
}

#language_description_container h1 { font-size: min(10vw, 10vh); }
#language_description_container p { font-size: 2rem;}